{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": "off",
    "react/display-name": "off",
    "no-trailing-spaces": "error",
    "no-console": "warn",
    "import/order": [
      "error",
      {
        "groups": [["external", "builtin"], "internal", ["parent", "sibling", "index"]],
        "pathGroups": [
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "theme",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  }
}
